Package: com.swing.jump
Name: JumpNoAds-Rootless
Version: 0.0.2
Architecture: iphoneos-arm
Description: JumpApp去广告插件
Maintainer: SWING
Author: SWING
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
